.button {
    -fx-font-weight: bold;
}

#mainPane, #contentPane {
    -fx-background-color: #424242;
}

Label {
    -fx-text-fill: #FFFFFF;
}

.separator *.line {
    -fx-border-style: solid;
    -fx-border-width: 1;
    -fx-border-color: #848484;
}

TextField {
    -fx-control-inner-background: #999999;
}

Button#createButton {
    -fx-background-color: #848484;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-background-radius: 30;
}

/* VARIABLE DEFINITIONS: Only these 4 variables have to be adjusted, the rest is copy-paste */
* {
    -fx-my-menu-color: #424242;
    -fx-my-menu-color-highlighted: #7c7c7c;
    -fx-my-menu-font-color: #FFFFFF;
    -fx-my-menu-font-color-highlighted: #FFFFFF;
}

/* MENU BAR + Top-level MENU BUTTONS */
/*** The menu bar itself ***/
.menu-bar {
    -fx-background-color: -fx-my-menu-color;
}

/*** Top-level menu itself (not selected / hovered) ***/
.menu-bar > .container > .menu-button {
    -fx-background-color: -fx-my-menu-color;
}

/*** Top-level menu's label (not selected / hovered) ***/
.menu-bar > .container > .menu-button > .label {
    -fx-text-fill: -fx-my-menu-font-color;
}

/*** Top-level menu's label (disabled) ***/
.menu-bar > .container > .menu-button > .label:disabled {
    -fx-opacity: 1.0;
}

/*** Top-level menu itself (selected / hovered) ***/
.menu-bar > .container > .menu-button:hover,
.menu-bar > .container > .menu-button:focused,
.menu-bar > .container > .menu-button:showing {
    -fx-background-color: -fx-my-menu-color-highlighted;
}

/*** Top-level menu's label (selected / hovered) ***/
.menu-bar > .container > .menu-button:hover > .label,
.menu-bar > .container > .menu-button:focused > .label,
.menu-bar > .container > .menu-button:showing > .label {
    -fx-text-fill: -fx-my-menu-font-color-highlighted;
}

/* MENU ITEM (children of a MENU BUTTON) */
/*** The item itself (not hovered / focused) ***/
.menu-item {
    -fx-background-color: -fx-my-menu-color;
}

/*** The item's label (not hovered / focused) ***/
.menu-item .label {
    -fx-text-fill: -fx-my-menu-font-color;
}

/*** The item's label (disabled) ***/
.menu-item .label:disabled {
    -fx-opacity: 1.0;
}

/*** The item itself (hovered / focused) ***/
.menu-item:focused, .menu-item:hovered {
    -fx-background-color: -fx-my-menu-color-highlighted;
}

/*** The item's label (hovered / focused) ***/
.menu-item:focused .label, .menu-item:hovered .label {
    -fx-text-fill: -fx-my-menu-font-color-highlighted;
}

/* CONTEXT MENU */
/*** The context menu that contains a menu's menu items ***/
.context-menu {
    -fx-background-color: -fx-my-menu-color;
}

/* TABLE VIEW */
.table-view .column-header,
.table-view .column-header-background .filler {
    -fx-background-color:  #5357db;
}
.table-view .column-header .label{
   -fx-text-fill: white;
   -fx-font-weight: bold;
   -fx-alignment: CENTER_LEFT;
}
.table-view .cell{
  -fx-cell-size: 35;
  -fx-alignment: center-left;
  -fx-background-color: #333333;
  -fx-border-color: #424242;
  -fx-text-fill: lightgray;
  -fx-alignment: CENTER_LEFT;

}
.table-row-cell:selected {
   -fx-background-color: #4c4c54;
   -fx-text-background-color: #4c4c54;
}

/* scroll bar starts here */

/* The increment and decrement button CSS class of scrollbar */
.table-view .increment-button ,.table-view .decrement-button {
    -fx-background-color:transparent;
	-fx-background-radius: 2em;

}

/* The main scrollbar **track** CSS class  */
.table-view .scroll-bar:horizontal .track,
.table-view .scroll-bar:vertical .track{
	-fx-background-color: transparent;
	-fx-border-color:derive( #5357db,80%);

	-fx-background-radius: 2em;
	-fx-border-radius:2em;
}

/* The main scrollbar **thumb** CSS class which we drag every time (movable) */
.table-view .scroll-bar:horizontal .thumb,
.table-view .scroll-bar:vertical .thumb {
    -fx-background-color:derive( #5357db,90%);
	-fx-background-insets: 2, 0, 0;
	-fx-background-radius: 2em;

}

.table-view {
    -fx-border-color: #424242;
    -fx-background-color: #424242;
}
